@import url("https://fonts.googleapis.com/css2?family=Afacad&display=swap");
#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

body {
  font-family: "Afacad", sans-serif;
}
